[Desktop Entry]
Name=Volti lite
Name[ru]=Volti трей
Exec=voltilite
Terminal=false
Type=Application
Icon=multimedia-volume-control
Comment=Tray Audio Volume Control
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Delay=5
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
